@import 'variables';

html {
    scrollbar-width: thin;
}

body {
    box-sizing: border-box;

    margin: 0;

    padding: calc(var(--base-unit) * 4) calc(var(--base-unit) * 8);

    font-family: -apple-system, "Fira Sans", sans-serif;
    background-color: var(--background-color);
    color: var(--primary-text-color);

    font-size: var(--body-20-size);
    font-weight: 400;
    line-height: 1.8;

    height: 100vh;
    width: 100vw;

    @media screen and (max-width: $midscreen-max-width)  {
        padding: calc(var(--base-unit) * 2) calc(var(--base-unit) * 4);
    }
}

a {
    color: var(--link-color);
    text-decoration: none;

    &:hover {
        color: var(--link-hover-color);
        text-decoration: underline;
    }

    &:active {
        color: var(--link-active-color);
    }

    &:focus {
        box-shadow: 0 0 0 1px var(--blue-50), 0 0 0 var(--base-unit) var(--blue-50-a30);
    }


    // display icon for external links
    &:not([class])[href*="//"]::after {
        background-image: var(--link-external-icon);
        background-repeat: no-repeat;
        background-size: 16px 16px;
        content: "";
        display: inline-block;
        height: 16px;
        margin: -.3rem .15rem 0 .25rem;
        vertical-align: middle;
        width: 16px;
    }

}

p, h1 {
    margin: 0;
}


/* Typography */
h1 {
    font-size: var(--title-30-size);
    font-weight: 300;
    line-weight: 1.2;

    .display {
        font-size: var(--display-20-size);
        font-weight: 200;
    }
}

h2 {
    font-size: var(--title-20-size);
    font-weight: 600;

    margin-block: calc(var(--base-unit)) 0;
}

h3 {
    font-size: var(--title-10-size);
    font-weight: 600;
}

figcaption {
    font-size: var(--caption-20-size);
    font-weight: 400;
    color: var(--grey-50);

    .small {
        font-size: var(--caption-10-size);
    }
}

small {
    font-size: var(--body-10-size);
}

strong {
    font-weight: 700;
}

.primary-icon {
    color: var(--primary-icon-color);
}

.secondary-icon {
    color: var(--secondary-icon-color);
}

.secondary-text {
    color: var(--grey-50);
}


/* Utils */
.ellipsis-text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


/*
 * Layout elements
 */

/* for horizontal rules / separators */
.separator {
    border-style: solid none none none;
    border-color: var(--grey-30);
}

/* adds breathing space to the separator */
.separator--breathe {
    margin: calc(var(--base-unit) * 5) 0;
}

/* a series of button-like elements, layed out horizontally */
.toolbar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    align-items: center;
    column-gap: calc(var(--base-unit));
    margin-bottom: calc(var(--base-unit) * 4);
}

.align-right {
    margin-left: auto;
}

.toolbar h1 {
    min-width: 200px;
    text-align: center;
    @media screen and (max-width: $midscreen-max-width)  {
        min-width: 150px;
    }
}

.fullwidth {
    width: 100% !important;
}

.center {
    margin-left: auto !important;
    margin-right: auto !important;
}

/*
Form controls
*/
.default-button, .default-input {
    box-sizing: border-box;
    font-size: 1em;
}

/* Buttons from Photon */

.default-button, .primary-button {
    -moz-appearance: none;
    margin: 0;
    min-width: calc(var(--base-unit) * 33);
    height: calc(var(--base-unit) * 8);
    padding-inline-start: calc(var(--base-unit) * 5);
    padding-inline-end: calc(var(--base-unit) * 5);

    border: none;
    border-radius: calc(var(--base-unit) / 2);

    &:disabled {
        opacity: 0.4;
    }

    /* Smaller variant size */
    &--micro {
        padding-inline-start: calc(2 * var(--base-unit));
        padding-inline-end: calc(2 * var(--base-unit));
        font-size: var(--body-10-size);
        min-width: 0px;
        height: calc(var(--base-unit) * 6);
    }

    /* Bigger variant size */
    &--puffy {
        padding-inline-start: calc(4 * var(--base-unit));
        padding-inline-end: calc(4 * var(--base-unit));
        font-size: var(--body-20-size);
        min-width: 0px;
        height: calc(var(--base-unit) * 12);
        border-radius: var(--base-unit);
    }
}

/* Photon button representing a primary action */
.primary-button {
    color: var(--white-100);
    background-color: var(--primary-button-background-color);

    &:enabled:hover {
        background-color: var(--primary-button-hover-background-color);
    }

    &:enabled:active {
        background-color: var(--primary-button-active-background-color);
    }
}

/* Photon standard button */
.default-button {
    color: var(--primary-text-color);
    background-color: var(--default-button-background-color);

    &:enabled:hover {
        background-color: var(--default-button-hover-background-color);
    }

    &:enabled:active {
        background-color: var(--default-button-active-background-color);
    }
}

/* Photon ghost button. Icon button with no background */
.ghost-button {
    background: transparent;
    border: none;
    border-radius: calc(var(--base-unit) / 2);
    fill: var(--primary-icon-color);
    height: calc(var(--base-unit) * 6);
    padding: var(--base-unit);
    width: calc(var(--base-unit) * 6);

    -moz-context-properties: fill;

    &:hover {
        background-color: var(--default-button-background-color);
    }

    &:active {
        background-color: var(--default-button-hover-background-color);
    }
}

/* Standard inputs */
.default-input {
    line-height: unset;
    padding: 0 calc(var(--base-unit) * 2);
    height: calc(var(--base-unit) * 8);
    margin: var(--base-unit 0);

    color: var(--primary-text-color);

    border: 1px solid var(--grey-30);
    border-radius: calc(var(--base-unit) / 2);
    border-color: var(--default-input-border-color);

    font-size: 0.833rem;
    background-color: var(--default-input-background-color);

    ::placeholder {
        color: var(--grey-50);
    }

    &:hover {
        border-color: var(--default-input-hover-border-color);
    }

    &:focus {
        border-color: var(--blue-50);
        box-shadow: 0 0 0 1px var(--blue-50), 0 0 0 var(--base-unit) var(--blue-50-a30);
    }

    .warning {
        border-color: var(--yellow-60);
        box-shadow: 0 0 0 1px var(--yellow-60), 0 0 0 var(--base-unit) var(--yellow-60-a30);
    }

    &:invalid, .error {
        border-color: var(--red-60);
        box-shadow: 0 0 0 1px var(--red-60), 0 0 0 var(--base-unit) var(--red-60-a30);
    }
}

input, label {
    display:block;
}

label {
    font-size: 0.833rem;
    margin-bottom: calc(var(--base-unit) * 2);
}

/*
 * Other UI components
 */

/*
 * A small, colored badge.
 * NOTE: styles borrowed from Photon's micro buttons (there aren't badges)
 */
.badge {
    background: var(--grey-30);
    border-radius: calc(var(--base-unit) / 2);
    font-size: var(--body-10-size);
    padding: var(--base-unit) calc(2 * var(--base-unit));

    &--info {
        background: var(--blue-50);
    }

    &--success {
        background: var(--green-50);
    }

    &--warning {
        background: #fffbd6;
    }

    &--error {
        background: #fdf2f5;
    }
}

/*
 * History elements
 */
.search-wrapper {
    cursor: default;
    display: flex;
    min-height: 32px;
    height: 32px;
    position: relative;

    min-width: 200px;
    max-width: 736px;
    flex: 1 0px;

    margin: calc(var(--base-unit) * 2) 0;
}

.search-input {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    padding-inline-start: calc(var(--base-unit) * 2);
    padding-inline-end: calc(var(--base-unit) * 8);
}

.search-button {
    border: 0;
    border-radius: 0 3px 3px 0;

    height: 100%;
    inset-inline-end: 0;
    position: absolute;
    width: 32px;
    -moz-context-properties: fill;
    fill: var(--icon-fill-color);
    opacity: 60%;

    &--cancel {
        background: var(--background-cancel-icon);
        background-size: 16px 16px;
    }
}

#root {
    height: 100%;
    width: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    height: 100%;
}

header {
    margin-bottom: calc(var(--base-unit) * 2);
}

img {
    vertical-align: middle;
}

.img-icon {
    width: 16px;
    height: 16px;
}

/* A row representating a website from the history */
.history-item {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;

    column-gap: calc(var(--base-unit) * 2);
    margin: calc(var(--base-unit) * 2) 0;

    box-shadow: var(--shadow-10);
    border-radius: var(--base-unit);
    background-color: var(--card-background-color);
    padding: var(--base-unit) calc(var(--base-unit) * 2);
    &:hover {
        background-color: var(--default-button-background-color);
        @media (prefers-color-scheme: dark) {
            background-color: var(--default-button-hover-background-color);
        }
    }

    &:first-child {
        margin-top: 0px;
    }

    &--full {
        flex: 1;
    }
}

.history-item-date {
    min-width: 75px;

    @media screen and (max-width: $midscreen-max-width)  {
        min-width: 65px;
    }
}

.history-item-link {
    min-width: max-content;
}

/* A container for the columns of the week history */
.history-week-container {
    display: grid;
    // seven equal columns
    grid-template-columns: repeat(7, 1fr [col-start]);

    grid-column-gap: var(--base-unit);

    overflow: hidden;
}

.history-week-day {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    flex: 1 0 0px;
    min-width: 0;

    overflow: hidden;
}

.history-week-day-header {
}

.history-week-day-items {
    overflow-y: auto;
    scrollbar-color: var(--default-button-background-color) transparent;
    scrollbar-width: thin;
}


/* A container for the days of the month history */
.history-month-container {
    display: grid;
    // seven equal columns
    grid-template-columns: repeat(7, 1fr [col-start]);
    // five equal rows
    grid-template-rows: repeat(5, 1fr [row-start]);

    grid-column-gap: var(--base-unit);
    grid-row-gap: calc(var(--base-unit) * 4);

    overflow: hidden;
}

.history-month-day {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    flex: 1 0 0px;
    min-width: 0;
    overflow-y: hidden;
}

.history-day-header {
    cursor: pointer;
    .history-item {
        background-color: var(--card-header-background-color);

        &:hover {
            background-color: var(--card-header-background-color);
        }
    }
}

.history-month-day-items {
    overflow-y: auto;
    scrollbar-color: var(--default-button-background-color) transparent;
    scrollbar-width: thin;
}

.spinner::before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 50%;
    border-top: 2px solid rgba(0,120,220,1.0);
    border-right: 2px solid rgba(0,120,220,0.0);
    animation: spinner .6s linear infinite;
}

@keyframes spinner {
  100% {
    transform: rotate(360deg);
  }
}

.hidden {
    visibility: hidden;
}

.disabled {
    opacity: 0.4;
}
