@import 'variables';

html {
}

body {
    margin: 0;
    padding: 0;

    font-family: -apple-system, "Fira Sans", sans-serif;
    background-color: $grey-10;

    color: $grey-90;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.8;
}

a {
    color: $blue-50;
    text-decoration: none;

    &:hover {
        color: $blue-60;
    }

    &:active {
        color: $blue-70;
    }
}

p, h1 {
    margin: 0;
}


/* Typography */
h1 {
    font-size: 22px;
    font-weight: 300;
    line-weight: 1.2;

    .display {
        font-size: 36px;
        font-weight: 200;
    }
}

h2 {
    font-size: 17px;
    font-weight: 600;

    margin-block: calc(#{$base-unit} * 4) 0;
}

h3 {
    font-size: 13px;
    font-weight: 600;
}

figcaption {
    font-size: 13px;
    font-weight: 400;
    color: $grey-50;

    .small {
        font-size: 5px;
    }
}

small {
    font-size: 11px;
}

strong {
    font-weight: 700;
}

.primary-icon {
    color: $grey-90-a80;
}

.secondary-icon {
    color: $grey-90-a60;
}

.secondary-text {
    color: $grey-50;
}


/* Utils */
.ellipsis-text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


/*
 * Layout elements
 */

/* for horizontal rules / separators */
.separator {
    border-style: solid none none none;
    border-color: $grey-30;
}

/* adds breathing space to the separator */
.separator--breathe {
    margin: calc(#{$base-unit} * 5) 0;
}

/* a series of button-like elements, layed out horizontally */
.toolbar {
    display: flex;
    column-gap: calc(#{$base-unit} * 2);
}

.toolbar--right-align {
    justify-content: end;
}

/*
Form controls
*/
.default-button, .default-input {
    box-sizing: border-box;
    font-size: 1em;
}

/* Buttons from Photon */

.default-button, .primary-button {
    -moz-appearance: none;
    margin: 0;
    min-width: calc(#{$base-unit} * 33);
    height: calc(#{$base-unit} * 8);
    padding-inline-start: calc(#{$base-unit} * 5);
    padding-inline-end: calc(#{$base-unit} * 5);

    border: none;
    border-radius: calc(#{$base-unit} / 2);

    &:disabled {
        opacity: 0.4;
    }

    /* Smaller variant size */
    &--micro {
        padding-inline-start: calc(2 * #{$base-unit});
        padding-inline-end: calc(2 * #{$base-unit});
        font-size: 11px;
        min-width: 0px;
        height: calc(#{$base-unit} * 6);
    }

    /* Bigger variant size */
    &--puffy {
        padding-inline-start: calc(4 * #{$base-unit});
        padding-inline-end: calc(4 * #{$base-unit});
        font-size: 15px;
        min-width: 0px;
        height: calc(#{$base-unit} * 12);
        border-radius: #{$base-unit};
    }
}

/* Photon button representing a primary action */
.primary-button {
    color: $white-100;
    background-color: $blue-60;

    &:enabled:hover {
        background-color: $blue-70;
    }

    &:enabled:active {
        background-color: $blue-80;
    }
}

/* Photon standard button */
.default-button {
    color: $grey-90;
    background-color: $grey-90-a10;

    &:enabled:hover {
        background: $grey-90-a20;
    }

    &:enabled:active {
        background: $grey-90-a30;
    }
}

/* Photon ghost button. Icon button with no background */
.ghost-button {
    background: transparent;
    border: none;
    border-radius: calc(#{$base-unit} / 2);
    fill: $grey-90-a80;
    height: calc(#{$base-unit} * 6);
    padding: $base-unit;
    width: calc(#{$base-unit} * 6);

    -moz-context-properties: fill;

    &:hover {
        background-color: $grey-30;
    }

    &:active {
        background-color: $grey-40;
    }
}

/* Standard inputs */
.default-input {
    line-height: unset;
    padding: 0 calc(#{$base-unit} * 2);
    height: calc(#{$base-unit} * 8);

    border: 1px solid $grey-30;
    border-radius: calc(#{$base-unit} / 2);
    border-color: $grey-90-a20;

    color: $grey-90;
    background-color: $white-100;

    ::placeholder {
        color: $grey-50;
    }
}

/*
 * Other UI components
 */

/*
 * A small, colored badge.
 * NOTE: styles borrowed from Photon's micro buttons (there aren't badges)
 */
.badge {
    background: $grey-30;
    border-radius: calc(#{$base-unit} / 2);
    font-size: 11px;
    padding: $base-unit calc(2 * #{$base-unit});

    &--info {
        background: $blue-50;
    }

    &--success {
        background: $green-50;
    }

    &--warning {
        background: #fffbd6;
    }

    &--error {
        background: #fdf2f5;
    }
}

/*
 * Card UI, from Photon
 */
.card {
    background-color: $white-100;
    border-radius: $base-unit;
    box-shadow: 0 1px 4px $grey-90-a10;
    box-sizing: border-box;
    min-width: min-content;
    padding-block: calc(#{$base-unit} * 5);

    &__heading {
        font-size: 17px; /* Note: this is from Photon Title 20 */
        font-weight: 600; /* Note: this is from Photon Title 20 */
    }
}
